@import "../../../styles/_theme";

.lds-dual-ring {
  display: inline-block;
  width: 20px;
  height: 20px;

  &:after {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    margin: 1px;
    border-radius: 50%;
    border: 3px solid $white-color;
    border-color: $white-color transparent$white-color transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  &.alternate{
    &:after {
      border: 3px solid $primary-color !important;
      border-color: $primary-color transparent $primary-color transparent !important;
    }
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
