@import "../../../styles/theme";

#hOne {
  font-size: 39.06px;
  color: #8b8b8b;
  font-family: $primary-font;
}

#hTwo {
  font-size: 31.25;
  color: $gray;
  font-family: $primary-font;
}

#hThree {
  font-size: 25px;
  color: #8b8b8b;
  font-family: $primary-font;
}

#hFour {
  font-size: 20px;
  color: #8b8b8b;
  font-family: $primary-font;
}

#hFive {
  font-size: 16px;
  color: #8b8b8b;
  font-family: $primary-font;
}

#hSix {
  font-size: 10.24px;
  color: #8b8b8b;
  font-family: $primary-font;
}

#pTag {
  font-size: 20px;
  color: #8b8b8b;
  font-family: $primary-font;
}

#normal-typography {
  font-family: $secondary-font;
  font-size: 20px;
  color: #8b8b8b;
}